@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Env
@{
	var page = ViewContext.RouteData.Values["page"] as string;

	// 現在のページに対応するcssファイルが見つかればlinkタグを作成する
	// 例
	// 現在のページ：/index
	// cssファイル：~/css/index.css
	var cssPath = @$"css{page.ToLower()}.css";
	var cssFile = Env.WebRootFileProvider.GetFileInfo(cssPath);
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title - SASS/CSS Sample</title>
	<link href="~/css/lib.css" rel="stylesheet" asp-append-version="true" />
	@if (cssFile.Exists) {
		<link href="~/@cssPath" rel="stylesheet" asp-append-version="true" />
	}
	@RenderSection("style", required: false)
</head>
<body>
	<header>
		<h1>@ViewBag.Title</h1>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
	</footer>
	@RenderSection("script", required: false)
</body>
</html>
